.container {
    /* flex: 1 1 33.33%; */
    display: block;
    width: 78vw;
  }
  .contact-card {
    display: flex;
    margin: 1%;
  }
  .card-body {
    flex: 1;
  }
  .card-title {
    font-size: 14px;
    font-weight: bolder;
  }
  
  
  .edit-mode-cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
  }
  .edit-mode-cards-container-card {
    margin: 0.5em;
  }
  .add-contact-card-body {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .card-title{
    display: flex;
    justify-content: space-between;
  }
  .add-contact-card-body-add-button {
    margin: auto;
    cursor: pointer;
  }
  .contact-avatar-containar {
    padding: 0.5em 0 0 0.5em;
  }
  .contact-avatar {
    height: 40px;
    width: 40px;
    border: solid 1px var(--background-dark);
    border-radius: 50%;
  }
  .flex-align-center {
    display: flex;
    align-items: center;
  }
  .fa-plus {
    margin-right: 3px;
  }
  
  .phone-icon {
    margin-right: 5px;
  }
  
  .phone-button {
    cursor: default !important;
    padding: 8px 16px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
  }
  
  .card-content {
    padding-left: calc(1.25rem - 5px) !important;
  }
  
  .container li {
    display: flex;
  }
  
  .close-icon {
    position: absolute;
    top: -8px;
    right: -4px;
    cursor: pointer;
  }
  